.header {
	font-size: 15px;
	color: #FFFFFF;
	font-family: Verdana;
	background-color: #0000FF;
	text-indent: 10px;
}
.meniu {
	font-size: 12px;
	color: #333333;
	font-family: Arial;
	background-color: #DDDDDD;
	text-indent: 10px;
}
.continut {
	font-size: 13px;
	color: #000000;
	font-family: Helvetica; 
	background-color: #EEEEEE;
	text-indent: 10px;
}
.footer {
	font-size: 15px;
	color: #FFFFFF;
	font-family: Arial; 
	background-color: #0000FF;
	text-indent: 10px;
}
